@font-face {
  font-family: 'Montserrat Bold';
  src: url('fonts/montserrat-bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.btn-rozetka {
	font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
	background: #221F1F;
	border: 0;
	padding: 12px 32px;
	display: flex;
    border-radius: 6px;
}
.btn-rozetka img {
	margin: 0 ;
}
.btn-rozetka:hover,
.btn-rozetka:focus,
.btn-rozetka:hover:focus,
.btn-rozetka:hover:active {
	color: #fff;
	background-color: #000;
	border: 0;
	outline: none;
}
.demo-button {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
} 
.btn-rozetka.mini {
	flex-direction: column;
	padding: 9px 55px;
}
.btn-rozetka.mini img {
	margin: 4px 0 4px 0px;
}
.demo-button.white {
	background-color: #000;
}
.white .btn-rozetka {
	background-color: #fff;
	color: #000;
}
.btn-rozetka.white:hover,
.btn-rozetka.white:focus,
.btn-rozetka.white:hover:focus,
.btn-rozetka.white:hover:active {
	background-color: #fff;
	color: #000;
	outline: none;
}