@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/montserrat-bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.btn-rozetka {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    width: 100%;
    background: #221F1F;
    border: 0;
    padding: 12px 32px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
.btn-rozetka img {
	margin: 0;
}
.btn-rozetka.view-variant_1 img {
    height: 27px;
}
.btn-rozetka.view-variant_2 img {
    width: 59px;
}
.btn-rozetka.view-variant_3 img {
    max-width: 155px;
}
.btn-rozetka:hover,
.btn-rozetka:focus,
.btn-rozetka:hover:focus,
.btn-rozetka:hover:active {
	color: #fff;
	background: #221F1F;
	opacity: .9;
	border: 0;
	outline: none;
}
.demo-button.white {
	background-color: #000;
}
.white.btn-rozetka {
	background-color: #fff;
	color: #000;
}
.btn-rozetka.white:hover,
.btn-rozetka.white:focus,
.btn-rozetka.white:hover:focus,
.btn-rozetka.white:hover:active {
	background-color: #fff;
	color: #000;
	outline: none;
}
#button-cart + .btn-rozetka {margin-top: 16px;}
.buttons + .btn-rozetka {
    margin-top:15px;
    margin-top: 0;
    max-width: 250px;
    font-size: 16px;
    line-height: 30px;}
.buttons + .btn-rozetka img {
    margin: 0;
    width: 60px;
}
.buttons + .btn-rozetka.view-variant_3 img {
    margin: 0;
    width: 145px;
}
.rozetkaec-popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
    z-index: 9999;
	justify-content: center;
	align-items: center;
}

.rozetkaec-popup .popup-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
}

.rozetkaec-popup .popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}

.rozetkaec-popup .popup-content input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.rozetkaec-popup .popup-content button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#button-register + .btn-rozetka {
    margin-top: 5px;
}
.confirm-block .btn-rozetka.view-variant_3 img {
    max-width: 130px;
    margin-top: 2px;
}

/* Адаптивність */
@media (max-width: 768px) {
	.rozetkaec-popup  .popup-content {
		width: 90%;
	}
}